{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2019 nystudio107
 */
#}

{% requirePermission "webperf:dashboard" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" with {'params': {}} %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="webperf-button-container">
            <a href="{{ actionUrl('webperf/file/export-data-samples', {'pageUrl': '','siteId': currentSiteId}) }}" class="btn icon"  title="{{ 'Export all Data Samples to a CSV file'|t }}">{{ "Export Data Samples"|t }}</a>
        </div>
        {% if currentUser.can("webperf:delete-data-samples") %}
            <a href="{{ actionUrl('webperf/data-samples/delete-all-samples', {'siteId': currentSiteId}) }}"
               class="btn delete icon"
               title="{{ 'Delete all Data Samples'|t }}"
               onclick="return confirm('Are you sure you want to delete all data samples?')"
            >
                {{ "Delete Data Samples"|t }}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
    </style>
    <div id="cp-nav-content" v-cloak>
        {% if showWelcome %}
        <div class="field readable">
                <confetti>
                </confetti>
                <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                    <img src="{{ baseAssetsUrl ~ '/img/Webperf-icon.svg' }}"
                         width="30%" height="auto"/>
                    <h2>Thanks for using Webperf!</h2>
                    <p>
                        Monitor the performance of your webpages through real-world user timing data.
                    </p>
                    <p>
                    </p>
                    <p>We hope you love it! For more information, please <a href="{{ docsUrl }}" target="_blank" rel="noopener">see the documentation</a>.</p>
                </div>
        </div>
        {% endif %}
        {# -- Range Picker -- #}
        {% include "webperf/_includes/range-picker.twig" %}
        {% if settings.includeBeacon %}
            {# -- Frontend -- #}
            {% include "webperf/dashboard/_includes/frontend.twig" %}

            {# -- Backend -- #}
            {% include "webperf/dashboard/_includes/backend.twig" %}
        {% endif %}

        {% if settings.includeCraftProfiling %}
            {# -- Craft -- #}
            {% include "webperf/dashboard/_includes/craft.twig" %}
        {% endif %}

        {% include "webperf/_includes/speed-color-key.twig" %}
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("dashboard.js", false) }}
{% endblock %}
