{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2018 nystudio107
 */
#}

{% requirePermission "webperf:dashboard" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="retour-button-container">
            <a href="{{ actionUrl('webperf/file/export-statistics') }}" class="btn icon">{{ "Export CSV File"|t }}</a>
        </div>
        <a href="{{ actionUrl('webperf/statistics/clear-statistics') }}" class="btn delete icon">{{ "Clear Stats"|t }}</a>
    </div>
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
    </style>
    <div id="cp-nav-content">
        {% if showWelcome %}
        <div class="field readable">
                <confetti>
                </confetti>
                <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                    <img src="{{ baseAssetsUrl ~ '/img/Webperf-icon.svg' }}"
                         width="30%" height="auto"/>
                    <h2>Thanks for using Webperf!</h2>
                    <p>
                        Monitor the performance of your webpages through real-world user timing data.
                    </p>
                    <p>
                    </p>
                    <p>We hope you love it! For more information, please <a href="{{ docsUrl }}" target="_blank" rel="noopener">see the documentation</a>.</p>
                </div>
        </div>
        {% endif %}
            {# -- Frontend -- #}
            <div class="pane first">
                <h1 class="text-center">Frontend</h1>
                <div class="flex overflow-hidden w-full flex-no-wrap items-start">
                    <div class="flex-grow">
                        <div class="webperf-tooltip">
                            <span class="webperf-tooltiptext">
                                The time it takes for the webpage to be fully loaded in the client's browser.
                                <a href="https://developers.google.com/web/fundamentals/performance/speed-tools/"
                                   target="_blank"
                                   class="text-grey-lighter hover:text-grey-lightest"
                                >Learn More &rarr;</a>
                            </span>
                            <dashboard-radial-bar-chart
                                    title="Page Loaded"
                                    range="month"
                                    column="pageLoad"
                                    :max-value="10"
                                    :site-id="{{ currentSiteId }}"
                                >
                            </dashboard-radial-bar-chart>
                        </div>
                    </div>
                    <div class="flex-grow self-center">
                        <div class="">
                            <div class="webperf-tooltip">
                                <span class="webperf-tooltiptext">
                                    The first meaningful content that the client sees "painted" in their browser.
                                    <a href="https://developers.google.com/web/tools/lighthouse/audits/first-contentful-paint"
                                       target="_blank"
                                       class="text-grey-lighter hover:text-grey-lightest"
                                    >Learn More &rarr;</a>
                                </span>
                                <dashboard-simple-bar-chart
                                        title="First Contentful Paint"
                                        range="month"
                                        column="firstContentfulPaint"
                                        :max-value="5"
                                        :site-id="{{ currentSiteId }}"
                                >
                                </dashboard-simple-bar-chart>
                            </div>
                            <div class="webperf-tooltip">
                                <span class="webperf-tooltiptext">
                                    How long it takes before the user can interact with elements on the page.
                                    <a href="https://developers.google.com/web/tools/lighthouse/audits/time-to-interactive"
                                       target="_blank"
                                       class="text-grey-lighter hover:text-grey-lightest"
                                    >Learn More &rarr;</a>
                                </span>
                                <dashboard-simple-bar-chart
                                    title="DOM Interactive"
                                    range="month"
                                    column="domInteractive"
                                    :max-value="5"
                                    :site-id="{{ currentSiteId }}"
                                >
                                </dashboard-simple-bar-chart>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow">
                        <dashboard-file-list
                                range="month"
                                column="pageLoad"
                                :max-value="10"
                                :site-id="{{ currentSiteId }}"
                        >
                        </dashboard-file-list>
                    </div>
                </div>
            </div>

        {# -- Backend -- #}
        <div class="pane">
            <h1 class="text-center">Backend</h1>
            <div class="flex overflow-hidden w-full flex-no-wrap items-start">
                <div class="flex-grow">
                    <div class="webperf-tooltip">
                        <span class="webperf-tooltiptext">
                            How long it takes before the first byte of data is received from the server.
                            <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                               target="_blank"
                               class="text-grey-lighter hover:text-grey-lightest"
                            >Learn More &rarr;</a>
                        </span>
                        <dashboard-radial-bar-chart
                                title="First Byte"
                                range="month"
                                column="firstByte"
                                :max-value="2"
                                :site-id="{{ currentSiteId }}"
                        >
                        </dashboard-radial-bar-chart>
                    </div>
                </div>
                <div class="flex-grow self-center">
                    <div class="">
                        <div class="webperf-tooltip">
                            <span class="webperf-tooltiptext">
                                How long it takes to do a DNS lookup of the website's IP address.
                                <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                                   target="_blank"
                                   class="text-grey-lighter hover:text-grey-lightest"
                                >Learn More &rarr;</a>
                            </span>
                            <dashboard-simple-bar-chart
                                title="DNS Lookup"
                                range="month"
                                column="dns"
                                :max-value=".5"
                                :site-id="{{ currentSiteId }}"
                            >
                            </dashboard-simple-bar-chart>
                        </div>
                        <div class="webperf-tooltip">
                            <span class="webperf-tooltiptext">
                                How long it takes to negotiate a connection to the server.
                                <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                                   target="_blank"
                                   class="text-grey-lighter hover:text-grey-lightest"
                                >Learn More &rarr;</a>
                            </span>
                            <dashboard-simple-bar-chart
                                title="Connect"
                                range="month"
                                column="connect"
                                :max-value=".5"
                                :site-id="{{ currentSiteId }}"
                            >
                            </dashboard-simple-bar-chart>
                        </div>
                    </div>
                </div>
                <div class="flex-grow">
                    <dashboard-file-list
                            range="month"
                            column="firstByte"
                            :max-value="10"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-file-list>
                </div>
            </div>
        </div>
        <div class="text-center p-8">
                <div class="webperf-tooltip inline-block w-full max-w-xl good-bad-ugly">
                    <span class="webperf-tooltiptext webperf-tooltip-visible" style="left: 30px;">Fast</span>
                    <span class="webperf-tooltiptext webperf-tooltip-visible" style="left: 50%;">Average</span>
                    <span class="webperf-tooltiptext webperf-tooltip-visible" style="left: auto; right: 0;">Slow</span>
                </div>
        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("dashboard.js", false) }}
{% endblock %}
