{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2018 nystudio107
 */
#}

{% requirePermission "webperf:dashboard" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="retour-button-container">
            <a href="{{ actionUrl('webperf/file/export-statistics') }}" class="btn icon">{{ "Export CSV File"|t }}</a>
        </div>
        <a href="{{ actionUrl('webperf/statistics/clear-statistics') }}" class="btn delete icon">{{ "Clear Stats"|t }}</a>
    </div>
{% endblock %}

{% block content %}
    <div id="cp-nav-content">
        <div class="field readable">
            {% if showWelcome %}
                <confetti>
                </confetti>
                <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                    <img src="{{ baseAssetsUrl ~ '/img/Webperf-icon.svg' }}"
                         width="30%" height="auto"/>
                    <h2>Thanks for using Webperf!</h2>
                    <p>
                        Monitor the performance of your webpages through real-world user timing data.
                    </p>
                    <p>
                    </p>
                    <p>We hope you love it! For more information, please <a href="{{ docsUrl }}" target="_blank" rel="noopener">see the documentation</a>.</p>
                </div>
            {% endif %}
        </div>
        <div class="flex overflow-hidden w-full flex-no-wrap">
            <div class="flex-grow">
                <div class="">
                    <dashboard-radial-bar-chart
                            title="First Byte"
                            range="month"
                            column="firstByte"
                            :max-value="5"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-radial-bar-chart>
                </div>
            </div>
            <div class="flex-grow">
                <div class="">
                    <dashboard-radial-bar-chart
                            title="First Paint"
                            range="month"
                            column="firstPaint"
                            :max-value="5"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-radial-bar-chart>
                </div>
            </div>
            <div class="flex-grow">
                <div class="">
                    <dashboard-radial-bar-chart
                            title="First Contentful Paint"
                            range="month"
                            column="firstContentfulPaint"
                            :max-value="5"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-radial-bar-chart>
                </div>
            </div>
            <div class="flex-grow">
                <div class="">
                    <dashboard-radial-bar-chart
                            title="DOM Interactive"
                            range="month"
                            column="domInteractive"
                            :max-value="5"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-radial-bar-chart>
                </div>
            </div>
            <div class="flex-grow">
                <div class="">
                    <dashboard-radial-bar-chart
                            title="Page Loaded"
                            range="month"
                            column="pageLoad"
                            :max-value="10"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-radial-bar-chart>
                </div>
            </div>
        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("dashboard.js", false) }}
{% endblock %}
