{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
* Webperf plugin for Craft CMS 3.x
*
* Monitor the performance of your webpages through real-world user timing data
*
* @link      https://nystudio107.com
* @copyright Copyright (c) 2019 nystudio107
*/
#}

{# -- Backend -- #}
<div class="pane">
    <h1 class="text-center text-base text-3xl font-bold">{{ "Server Performance"|t("webperf") }}</h1>
    <div class="w-full flex-item-row items-start">
        <div class="flex-row three-up-sm-grid-item self-top">
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    {{ "How long it takes before the first byte of data is received from the server."|t("webperf") }}
                    <span class="field inline-block m-0">
                        <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                           target="_blank"
                           class="webperf-tooltip-link notice go"
                        >{{ "Learn More"|t("webperf") }}</a>
                    </span>
                </span>
                <radial-bar-chart
                        title="First Byte"
                        start="{{ start }}"
                        end="{{ end }}"
                        column="firstByte"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="{{ settings.firstByteThreshold }}"
                        :site-id="{{ currentSiteId }}"
                        :api-url="'{{ actionUrl('webperf/charts/dashboard-stats-average') }}'"
                >
                </radial-bar-chart>
            </div>
        </div>
        <div class="flex-row three-up-grid-item self-top">
            <div class="">
                <div class="webperf-tooltip">
                    <span class="webperf-tooltiptext">
                        {{ "How long it takes to do a DNS lookup of the website's IP address."|t("webperf") }}
                        <span class="field inline-block m-0">
                            <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                               target="_blank"
                               class="webperf-tooltip-link notice go"
                            >{{ "Learn More"|t("webperf") }}</a>
                        </span>
                    </span>
                    <simple-bar-chart
                        title="DNS Lookup"
                        start="{{ start }}"
                        end="{{ end }}"
                        column="dns"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="{{ settings.dnsThreshold }}"
                        :site-id="{{ currentSiteId }}"
                        :api-url="'{{ actionUrl('webperf/charts/dashboard-stats-average') }}'"
                    >
                    </simple-bar-chart>
                </div>
                <div class="webperf-tooltip">
                    <span class="webperf-tooltiptext">
                        {{ "How long it takes to negotiate a connection to the server."|t("webperf") }}
                        <span class="field inline-block m-0">
                            <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                               target="_blank"
                               class="webperf-tooltip-link notice go"
                            >{{ "Learn More"|t("webperf") }}</a>
                        </span>
                    </span>
                    <simple-bar-chart
                        title="Connect"
                        start="{{ start }}"
                        end="{{ end }}"
                        column="connect"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="{{ settings.connectThreshold }}"
                        :site-id="{{ currentSiteId }}"
                        :api-url="'{{ actionUrl('webperf/charts/dashboard-stats-average') }}'"
                    >
                    </simple-bar-chart>
                </div>
            </div>
        </div>
        <div class="flex-row three-up-grid-item self-top">
            <dashboard-file-list
                    start="{{ start }}"
                    end="{{ end }}"
                    column="firstByte"
                    fast-color="{{ settings.dashboardFastColor }}"
                    average-color="{{ settings.dashboardAverageColor }}"
                    slow-color="{{ settings.dashboardSlowColor }}"
                    :limit="3"
                    :max-value="{{ settings.firstByteThreshold }}"
                    :site-id="{{ currentSiteId }}"
                    :api-url="'{{ actionUrl('webperf/charts/dashboard-slowest-pages') }}'"
            >
            </dashboard-file-list>
        </div>
    </div>
    {% set devModeWarning = 'false' %}
    <div class="px-8">
        <sample-pane-footer
                start="{{ start }}"
                end="{{ end }}"
                subject="charts"
                column="firstByte"
                :site-id="{{ currentSiteId }}"
                :display-dev-mode-warning="{{ devModeWarning }}"
                :api-url="'{{ actionUrl('webperf/charts/dashboard-stats-average') }}'"
        >
        </sample-pane-footer>
    </div>
</div>
