{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2018 nystudio107
 */
#}

{# -- Frontend -- #}
<div class="pane first">
    <h1 class="text-center text-base text-4xl font-bold">Frontend Profile</h1>
    <div class="w-full flex-item-row items-start">
        <div class="flex-row three-up-sm-grid-item self-top">
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    The time it takes for the webpage to be fully loaded in the client's browser.
                    <a href="https://developers.google.com/web/fundamentals/performance/speed-tools/"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-radial-bar-chart
                        title="Page Loaded"
                        :days="30"
                        column="pageLoad"
                        :max-value="10"
                        :site-id="{{ currentSiteId }}"
                    >
                </dashboard-radial-bar-chart>
            </div>
        </div>
        <div class="flex-row three-up-grid-item self-top">
            <div class="">
                <div class="webperf-tooltip">
                    <span class="webperf-tooltiptext">
                        When the browser first begins to nominally paint content into the browser.
                        <a href="https://developers.google.com/web/tools/lighthouse/audits/first-meaningful-paint"
                           target="_blank"
                           class="text-grey-lighter hover:text-grey-lightest"
                        >Learn More &rarr;</a>
                    </span>
                    <dashboard-simple-bar-chart
                            title="First Paint"
                            :days="30"
                            column="firstPaint"
                            :max-value="5"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-simple-bar-chart>
                </div>
                <div class="webperf-tooltip">
                    <span class="webperf-tooltiptext">
                        The first meaningful content that the client sees "painted" in their browser.
                        <a href="https://developers.google.com/web/tools/lighthouse/audits/first-contentful-paint"
                           target="_blank"
                           class="text-grey-lighter hover:text-grey-lightest"
                        >Learn More &rarr;</a>
                    </span>
                    <dashboard-simple-bar-chart
                            title="First Contentful Paint"
                            :days="30"
                            column="firstContentfulPaint"
                            :max-value="5"
                            :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-simple-bar-chart>
                </div>
                <div class="webperf-tooltip">
                    <span class="webperf-tooltiptext">
                        How long it takes before the user can interact with elements on the page.
                        <a href="https://developers.google.com/web/tools/lighthouse/audits/time-to-interactive"
                           target="_blank"
                           class="text-grey-lighter hover:text-grey-lightest"
                        >Learn More &rarr;</a>
                    </span>
                    <dashboard-simple-bar-chart
                        title="DOM Interactive"
                        :days="30"
                        column="domInteractive"
                        :max-value="5"
                        :site-id="{{ currentSiteId }}"
                    >
                    </dashboard-simple-bar-chart>
                </div>
            </div>
        </div>
        <div class="flex-row three-up-grid-item self-top">
            <dashboard-file-list
                    :days="30"
                    column="pageLoad"
                    :limit="3"
                    :max-value="10"
                    :site-id="{{ currentSiteId }}"
            >
            </dashboard-file-list>
        </div>
    </div>
</div>
