{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2019 nystudio107
 */
#}

{% requirePermission "webperf:page-detail" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" with {'params': {}} %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="webperf-button-container">
            <a href="{{ actionUrl('webperf/file/export-data-samples', {'pageUrl': '','siteId': currentSiteId}) }}" class="btn icon" title="{{ 'Export all Data Samples to a CSV file'|t }}">{{ "Export Data Samples"|t }}</a>
        </div>
        {% if currentUser.can("webperf:delete-data-samples") %}
            <a href="{{ actionUrl('webperf/data-samples/delete-all-samples', {'siteId': currentSiteId}) }}" class="btn delete icon" title="{{ 'Delete all Data Samples'|t }}">{{ "Delete Data Samples"|t }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
        .apexcharts-canvas {
            margin: 0 auto!important;
        }
    </style>
    <div id="cp-nav-content" v-cloak>
        {# -- Range Picker -- #}
        {% include "webperf/_includes/range-picker.twig" %}
        <div class="flex overflow-hidden w-full flex-no-wrap">
            <div class="flex-grow">
                <div class="shadow">
                    <page-detail-area-chart
                            title="Performance Timeline"
                            start="{{ start }}"
                            end="{{ end }}"
                            page-url=""
                            :site-id="{{ currentSiteId }}"
                    >
                    </page-detail-area-chart>
                </div>
            </div>
        </div>
        <div class="pane">
            <div class="text-base font-bold text-center">Page Aggregate Metrics</div>
                <pages-index-table :site-id="{{ currentSiteId }}"
                                   start="{{ start }}"
                                   end="{{ end }}"
                                   fast-color="{{ settings.dashboardFastColor }}"
                                   average-color="{{ settings.dashboardAverageColor }}"
                                   slow-color="{{ settings.dashboardSlowColor }}"
                >
                </pages-index-table>
            </div>
        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("pages-index.js", false) }}
{% endblock %}
