{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2018 nystudio107
 */
#}

{% requirePermission "webperf:page-detail" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" with {'params': {'pageUrl': pageUrl}} %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="webperf-button-container">
            <a href="{{ actionUrl('webperf/file/export-data-samples', {'siteId': currentSiteId}) }}" class="btn icon">{{ "Export Data Samples"|t }}</a>
        </div>
        {% if currentUser.can("webperf:delete-data-samples") %}
            <a href="{{ actionUrl('webperf/data-samples/delete-all-samples', {'siteId': currentSiteId}) }}" class="btn delete icon">{{ "Clear Data Samples"|t }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
        .apexcharts-canvas {
            margin: 0 auto!important;
        }
    </style>
    <div id="cp-nav-content">
        <div class="pb-4 ml-2 mr-5">
            <div class="pane first">
                {% if pageTitle | length %}
                    <h1 class="w-full text-left text-base text-2xl font-bold truncate-label mb-0 leading-tight"
                    >
                        <a href="{{ pageUrl }}"
                           target="_blank"
                           style="color: rgb(26, 13, 171);"
                        >
                            {{ pageTitle }}
                        </a>
                    </h1>
                {% else %}
                    <h1 class="w-full text-left text-base text-2xl font-bold truncate-label mb-0 leading-tight text-grey-light"
                    >
                        <em>{{ 'Craft backend route'|t }}</em>
                    </h1>
                {% endif %}
                <h2 class="w-full text-left text-base text-xl font-bold truncate-label mb-0 leading-tight mt-1"
                >
                    <a href="{{ pageUrl }}"
                       class="hover:no-underline"
                       target="_blank"
                       style="color: rgb(0, 102, 33);"
                       >
                        {{ pageUrl }}
                    </a>
                </h2>
            </div>
        </div>
        <div class="w-full flex-item-row items-start">
            <div class="flex-row three-up-page-detail-grid-item self-top">
                {# -- Frontend -- #}
                {% include "webperf/pages/_includes/frontend.twig" %}
            </div>
            <div class="flex-row three-up-page-detail-grid-item self-top">
                {# -- Backend -- #}
                {% include "webperf/pages/_includes/backend.twig" %}
            </div>
            <div class="flex-row three-up-page-detail-grid-item self-top">
                {# -- Craft -- #}
                {% include "webperf/pages/_includes/craft.twig" %}
            </div>
        </div>

        {% include "webperf/_includes/speed-color-key.twig" %}
        <div class="pane mx-2">
            <div class="text-base font-bold text-center">Performance Data Samples</div>
            <page-detail-table :site-id="{{ currentSiteId }}"
                                page-url="{{ pageUrl }}"
            >
            </page-detail-table>
        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("page-detail.js", false) }}
{% endblock %}
