{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
* Webperf plugin for Craft CMS 3.x
*
* Monitor the performance of your webpages through real-world user timing data
*
* @link      https://nystudio107.com
* @copyright Copyright (c) 2018 nystudio107
*/
#}

{# -- Craft -- #}
<div class="pane mx-2">
    <h1 class="text-center text-base text-3xl font-bold">Craft Profile</h1>
    <div class="w-full flex-item-row items-start">
        <div class="webperf-tooltip w-full">
            <span class="webperf-tooltiptext">
                The total amount of time it takes Craft to process the webpages.
                <a href="https://nystudio107.com/blog/profiling-your-website-with-craft-cms-3s-debug-toolbar"
                   target="_blank"
                   class="text-grey-lighter hover:text-grey-lightest"
                >Learn More &rarr;</a>
            </span>
            <dashboard-radial-bar-chart
                    title="Craft Execution"
                    :days="30"
                    column="craftTotalMs"
                    fast-color="{{ settings.dashboardFastColor }}"
                    average-color="{{ settings.dashboardAverageColor }}"
                    slow-color="{{ settings.dashboardSlowColor }}"
                    :max-value="2"
                    :site-id="{{ currentSiteId }}"
            >
            </dashboard-radial-bar-chart>
        </div>
        <div class="w-full">
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    How long it takes to execute the database queries for the webpages.
                    <a href="https://nystudio107.com/blog/profiling-your-website-with-craft-cms-3s-debug-toolbar"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-simple-bar-chart
                        title="Database Queries"
                        :days="30"
                        column="craftDbMs"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="2"
                        :site-id="{{ currentSiteId }}"
                >
                </dashboard-simple-bar-chart>
            </div>
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    How long it takes Twig to render the templates for the webpages.
                    <a href="https://nystudio107.com/blog/profiling-your-website-with-craft-cms-3s-debug-toolbar"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-simple-bar-chart
                        title="Twig Rendering"
                        :days="30"
                        column="craftTwigMs"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="2"
                        :site-id="{{ currentSiteId }}"
                >
                </dashboard-simple-bar-chart>
            </div>
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    Other profiled code (such as from plugins) in order to process the webpages.
                    <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/understanding-resource-timing"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-simple-bar-chart
                        title="Other"
                        :days="30"
                        column="craftOtherMs"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="2"
                        :site-id="{{ currentSiteId }}"
                >
                </dashboard-simple-bar-chart>
            </div>
        </div>
    </div>
    <div class="buttons pt-4 pb-2">
        {% set testUrl = url('https://gtmetrix.com/analyze.html', {
            'url': pageUrl,
        }) %}
        {% set testName = 'Test on GTMetrix.com'|t %}
        <a href="{{ testUrl }}"
           class="btn icon m-auto">
            {{ testName }}
        </a>
    </div>
</div>
