{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2018 nystudio107
 */
#}

{# -- Frontend -- #}
<div class="pane mx-2">
    <h1 class="text-center text-base text-3xl font-bold">Frontend Profile</h1>
    <div class="w-full flex-item-row items-start text-center">
        <div class="webperf-tooltip w-full">
            <span class="webperf-tooltiptext">
                The time it takes for the webpage to be fully loaded in the client's browser.
                <a href="https://developers.google.com/web/fundamentals/performance/speed-tools/"
                   target="_blank"
                   class="text-grey-lighter hover:text-grey-lightest"
                >Learn More &rarr;</a>
            </span>
            <dashboard-radial-bar-chart
                    title="Page Loaded"
                    :days="30"
                    column="pageLoad"
                    fast-color="{{ settings.dashboardFastColor }}"
                    average-color="{{ settings.dashboardAverageColor }}"
                    slow-color="{{ settings.dashboardSlowColor }}"
                    :max-value="10"
                    :site-id="{{ currentSiteId }}"
                >
            </dashboard-radial-bar-chart>
        </div>
        <div class="w-full">
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    When the browser first begins to nominally paint content into the browser.
                    <a href="https://developers.google.com/web/tools/lighthouse/audits/first-meaningful-paint"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-simple-bar-chart
                        title="First Paint"
                        :days="30"
                        column="firstPaint"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="5"
                        :site-id="{{ currentSiteId }}"
                >
                </dashboard-simple-bar-chart>
            </div>
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    The first meaningful content that the client sees "painted" in their browser.
                    <a href="https://developers.google.com/web/tools/lighthouse/audits/first-contentful-paint"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-simple-bar-chart
                        title="First Contentful Paint"
                        :days="30"
                        column="firstContentfulPaint"
                        fast-color="{{ settings.dashboardFastColor }}"
                        average-color="{{ settings.dashboardAverageColor }}"
                        slow-color="{{ settings.dashboardSlowColor }}"
                        :max-value="5"
                        :site-id="{{ currentSiteId }}"
                >
                </dashboard-simple-bar-chart>
            </div>
            <div class="webperf-tooltip">
                <span class="webperf-tooltiptext">
                    How long it takes before the user can interact with elements on the page.
                    <a href="https://developers.google.com/web/tools/lighthouse/audits/time-to-interactive"
                       target="_blank"
                       class="text-grey-lighter hover:text-grey-lightest"
                    >Learn More &rarr;</a>
                </span>
                <dashboard-simple-bar-chart
                    title="DOM Interactive"
                    :days="30"
                    column="domInteractive"
                    fast-color="{{ settings.dashboardFastColor }}"
                    average-color="{{ settings.dashboardAverageColor }}"
                    slow-color="{{ settings.dashboardSlowColor }}"
                    :max-value="5"
                    :site-id="{{ currentSiteId }}"
                >
                </dashboard-simple-bar-chart>
            </div>
        </div>
    </div>
    <div class="buttons pt-4 pb-2">
        {% set testUrl = url('https://developers.google.com/speed/pagespeed/insights', {
            'url': pageUrl,
        }) %}
        {% set testName = 'Test on Google PageSpeed Insights'|t %}
        <a href="{{ testUrl }}"
           class="btn icon m-auto">
            {{ testName }}
        </a>
    </div>
</div>
