{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2019 nystudio107
 */
#}

{% requirePermission "webperf:performance" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" with {'params': {}} %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="webperf-button-container">
            <a href="{{ actionUrl('webperf/file/export-data-samples', {'pageUrl': '','siteId': currentSiteId}) }}" class="btn icon" title="{{ "Export all Data Samples to a CSV file"|t("webperf") }}">{{ "Export Data Samples"|t("webperf") }}</a>
        </div>
        {% if currentUser.can("webperf:delete-data-samples") %}
            <a href="{{ actionUrl('webperf/data-samples/delete-all-samples', {'siteId': currentSiteId}) }}"
               class="btn delete icon"
               title="{{ "Delete all Data Samples"|t("webperf") }}"
               onclick="return confirm('Are you sure you want to delete all data samples?')"
            >
                {{ "Delete Data Samples"|t("webperf") }}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
        .apexcharts-canvas {
            margin: 0 auto!important;
        }
    </style>
    <div id="cp-nav-content" v-cloak>
        {# -- Range Picker -- #}
        {% include "webperf/_includes/range-picker.twig" %}
        <div class="pane first">
            <h1 class="text-center text-base text-3xl font-bold">Aggregate Page Performance History</h1>
            <performance-detail-area-chart
                    title=""
                    start="{{ start }}"
                    end="{{ end }}"
                    page-url=""
                    :site-id="{{ currentSiteId }}"
            >
            </performance-detail-area-chart>
        </div>

        {# -- Recommendations -- #}
        {% include "webperf/_includes/recommendations.twig" %}

        <div class="pane">
            <h1 class="text-center text-base text-3xl font-bold">Aggregate Page Performance Data Samples</h1>
            <performance-index-table :site-id="{{ currentSiteId }}"
                               start="{{ start }}"
                               end="{{ end }}"
                               fast-color="{{ settings.dashboardFastColor }}"
                               average-color="{{ settings.dashboardAverageColor }}"
                               slow-color="{{ settings.dashboardSlowColor }}"
            >
            </performance-index-table>
        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("performance-index.js", false) }}
{% endblock %}
