{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2019 nystudio107
 */
#}

{% requirePermission "webperf:alerts" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" with {'params': {}} %}
{% endblock %}

{% block actionButton %}
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
    </style>
    <input type="hidden" name="action" value="webperf/sections/save-alerts">
    {{ csrfInput() }}
    {{ redirectInput("webperf/alerts") }}

    <div id="cp-nav-content" v-cloak>
        <div class="pane">
            {% if not webhooks %}
            <div class="field text-sm font-normal inline-block">
                <p class="warning display-block">The <a href="{{ cpUrl("plugin-store/webhooks") }}">Webhooks</a> plugin must be installed for the Alerts to function.</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block foot %}
    {{ parent() }}
    {% set jsModules = [
        'alerts.js',
    ] %}
    {{ registerJsModules(jsModules) }}
{% endblock %}
