{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Webperf plugin for Craft CMS 3.x
 *
 * Monitor the performance of your webpages through real-world user timing data
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2019 nystudio107
 */
#}

{% requirePermission "webperf:errors" %}

{% extends "webperf/_layouts/webperf-cp.twig" %}

{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "webperf/_includes/sites-menu.twig" with {'params': {}} %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <div class="webperf-button-container">
            <a href="{{ actionUrl('webperf/file/export-error-samples', {'pageUrl': '','siteId': currentSiteId}) }}" class="btn icon" title="{{ "Export all Error Samples to a CSV file"|t("webperf") }}">{{ "Export Error Samples"|t("webperf") }}</a>
        </div>
        {% if currentUser.can("webperf:delete-error-samples") %}
            <a href="{{ actionUrl('webperf/error-samples/delete-all-samples', {'siteId': currentSiteId}) }}"
               class="btn delete icon"
               title="{{ "Delete all Error Samples"|t("webperf") }}"
               onclick="return confirm('Are you sure you want to delete all error samples?')"
            >
                {{ "Delete Error Samples"|t("webperf") }}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <style>
        #content {
            background: none !important;
        }
        .apexcharts-canvas {
            margin: 0 auto!important;
        }
    </style>
    <div id="cp-nav-content" v-cloak>
        {# -- Range Picker -- #}
        {% include "webperf/_includes/range-picker.twig" %}
        <div class="pane first">
            <h1 class="text-center text-base text-3xl font-bold">
                {{ "Aggregate Page Errors History"|t("webperf") }}
            </h1>
            <errors-detail-area-chart
                    title=""
                    start="{{ start }}"
                    end="{{ end }}"
                    page-url=""
                    :site-id="{{ currentSiteId }}"
            >
            </errors-detail-area-chart>
        </div>
        <div class="pane">
            <h1 class="text-center text-base text-3xl font-bold">
                {{ "Aggregate Page Errors"|t("webperf") }}
            </h1>
            <errors-index-table :site-id="{{ currentSiteId }}"
                               start="{{ start }}"
                               end="{{ end }}"
                               fast-color="{{ settings.dashboardFastColor }}"
                               average-color="{{ settings.dashboardAverageColor }}"
                               slow-color="{{ settings.dashboardSlowColor }}"
            >
            </errors-index-table>
        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ craft.webperf.includeJsModule("errors-index.js", false) }}
{% endblock %}
